include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/singkawang *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/singkawang/migration *.ini *.py *.mako
