body {
    background: #31383c none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -ms-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    text-rendering: geometricPrecision;
    font-family: "Lato", sans-serif;
    color: #444849;
    line-height: 1.5; }

.homepage .hero {
    background: #0BB451;
    color: #ffffff;
    height: 300px;
    padding: 0px;
    background-image: url(https://data.kalbarprov.go.id/images/banner.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}